<!DOCTYPE html>
<html>
  <head>
    <title>StockMania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.login_image = '<%= image_url('session/login_image.jpg') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
